<!DOCTYPE html>
<html>
<head>
    <title>Add Student</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h2>➕ Add Student</h2>

    <form method="POST">

        <div>
            <span class="form-label">Name</span><br>
            <input type="text" name="name" required>
        </div>

        <div>
            <span class="form-label">Roll Number</span><br>
            <input type="text" name="roll" required>
        </div>

        <button type="submit" class="btn btn-blue">Add Student</button>

    </form>

    <a class="back-link" href="/">⬅ Back to Home</a>

</div>

</body>
</html>
</html>
