<!DOCTYPE html>
<html>
<head>
    <title>Add Grade</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h2>📝 Add Grade</h2>

    <form method="POST">

        <div>
            <span class="form-label">Roll Number</span><br>
            <input type="text" name="roll" required>
        </div>

        <div>
            <span class="form-label">Subject</span><br>
            <input type="text" name="subject" required>
        </div>

        <div>
            <span class="form-label">Grade</span><br>
            <input type="number" name="grade" required>
        </div>

        <button type="submit" class="btn btn-green">Add Grade</button>

    </form>

    <a class="back-link" href="/">⬅ Back to Home</a>

</div>

</body>
</html>
